<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringStudyIbatis:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringStudyIbatis_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringStudyIbatis/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringStudyIbatis" />
          <element id="jpa-descriptors" facet="SpringStudyIbatis/jpa/JPA" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring-5.2.3.RELEASE" />
          <element id="library" level="project" name="Spring MVC-3.2.18.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:3.2.18.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:3.2.18.RELEASE" />
          <element id="library" level="project" name="Maven: aopalliance:aopalliance:1.0" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:3.2.18.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:3.2.18.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:3.2.18.RELEASE" />
          <element id="library" level="project" name="Maven: org.apache.ibatis:ibatis-sqlmap:2.3.4.726" />
          <element id="library" level="project" name="Maven: commons-dbcp:commons-dbcp:1.4" />
          <element id="library" level="project" name="Maven: commons-pool:commons-pool:1.5.4" />
          <element id="library" level="project" name="Maven: org.springframework:spring-orm:3.2.18.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:3.2.18.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:3.2.18.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:3.2.18.RELEASE" />
          <element id="library" level="project" name="Maven: org.aspectj:aspectjrt:1.6.10" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.6.6" />
          <element id="library" level="project" name="Maven: org.slf4j:jcl-over-slf4j:1.6.6" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-log4j12:1.6.6" />
          <element id="library" level="project" name="Maven: log4j:log4j:1.2.15" />
          <element id="library" level="project" name="Maven: javax.servlet:javax.servlet-api:3.1.0" />
          <element id="library" level="project" name="Maven: javax.servlet:jstl:1.2" />
          <element id="library" level="project" name="Maven: org.springframework:spring-test:3.2.18.RELEASE" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis:3.5.5" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis-spring:2.0.5" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:3.2.18.RELEASE" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:8.0.22" />
          <element id="library" level="project" name="Maven: com.google.protobuf:protobuf-java:3.11.4" />
          <element id="library" level="project" name="Maven: org.mariadb.jdbc:mariadb-java-client:2.7.1" />
          <element id="library" level="project" name="ojdbc6" />
        </element>
      </element>
    </root>
  </artifact>
</component>