<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- DriverManagerDataSource는 커넥션(connection pool)을 지원하지 않는다. -->
    <!-- 그러므로 이후엔 아파치가 제공하는 BasicDataSource를 사용한다. -->
    <!-- oracle 기준  -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"/>
        <property name="username" value="hr"/>
        <property name="password" value="hr"/>
    </bean>

    <!-- iBATIS는 스프링 프레임워크에서 제공해준다. -->
    <bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="configLocation" value="classpath:/sqlMapConfig.xml"></property>
    </bean>

    <!--    <bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">-->
    <!--        <property name="dataSource" ref="dataSource"></property>-->
    <!--        <property name="configLocation" value="classpath:sqlmap/sqlMapConfig.xml"></property>-->
    <!--    </bean>-->

    <bean id="sqlMapClientTemplate" class="org.springframework.orm.ibatis.SqlMapClientTemplate">
        <property name="sqlMapClient"  ref="sqlMapClient"></property>
    </bean>
</beans>